@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue
}

canvas {
    position: relative;
    width: 500px;
    z-index: 5
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
    top: 0%;
    left: 0%;
    transform: scale(0);
    transition: 0.5s ease-in;
    overflow: hidden
}

.showcontent {
    transform: scale(1)
}

.removecontent {
    transform: scale(0)
}

.textContainer {
    position: absolute;
    width: 250px;
    z-index: 8;
    color: #fff;
    left: 10%;
    top: 12%;
    font-size: 20px;
    font-family: "Roboto", sans-serif
}

.content .background {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    filter: brightness(.9)
}

.taskbar {
    position: absolute;
    width: 100%;
    height: 45px;
    background-color: #eee7df;
    filter: drop-shadow(0 0 10px rgb(0 0 0 / .459));
    z-index: 25;
    bottom: 0%;
    overflow: hidden;
    display: flex;
    background-color: #bcddd9;
    color: #000;
    z-index: 60
}

.wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: fit-content;
    z-index: 26;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s
}

.wrap:hover {
    transform: scale(1.1)
}

.wrap img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1)
}

.text {
    position: absolute;
    color: #fff;
    margin-top: 10px;
    -webkit-text-stroke: .5px #000
}

#mac {
    top: 10%;
    left: 2%
}

#user {
    top: 25%;
    left: 2%
}

#user .text {
    left: 8%
}

#folders {
    top: 40%;
    left: 2%
}

#folders .text {
    left: 8%
}

#skills {
    top: 55%;
    left: 2%
}

#skills .text {
    left: 8%
}

#email {
    top: 70%;
    left: 2%
}

#linkedin {
    top: 10%;
    left: 94%
}

#github {
    top: 25%;
    left: 94%
}

#telegram {
    top: 40%;
    left: 94%
}

@media screen and (max-width:768px) {
    #linkedin {
        top: 10%;
        left: 84%
    }
    #github {
        top: 25%;
        left: 84%
    }
    #telegram {
        top: 40%;
        left: 84%
    }
}

.logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.logo img {
    width: 6.5vmax;
    margin-bottom: 10px
}

.selectedIcon {
    width: 80%;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    cursor: pointer
}

.selectedIcon img {
    width: 4%;
    margin: 0 10px;
    padding: 2px 10px;
    transition: 1s
}

.selectedIcon p {
    display: none
}

.selectedIcon img:hover {
    border: 1px solid #000;
    transform: scale(1.1)
}

.time {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
    font-size: 1vmax
}

.message {
    position: relative;
    z-index: 40;
    width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: #efe9dc;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.3s;
    filter: drop-shadow(5px 5px 0 #33302b);
    border: 2px solid #33302b;
    border-radius: 10px;
    display: none;
    z-index: 110
}

.displayMessage {
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex
}

.messageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.messageContainer img {
    width: 10%
}

.message h4 {
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #bcddd9;
    border: 2px solid #33302b;
    color: #33302b
}

.buttons {
    width: 100%;
    display: flex;
    gap: 2px
}

.buttons button {
    width: 50%;
    background-color: #fff0;
    color: #33302b;
    border: 2px solid #33302b;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s
}

.buttons button:hover {
    background-color: #bcddd9;
    color: #000
}

.about {
    position: fixed;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(0);
    filter: drop-shadow(5px 5px 0 #33302b);
    display: none
}

.displayAbout {
    transform: scale(1);
    left: 20%;
    top: 10%;
    display: block;
    transition: 0.5s all
}

.head {
    width: 100%;
    height: 30px;
    padding: 2px;
    border-bottom: 2px solid #33302b;
    display: flex;
    align-items: center;
    cursor: pointer
}

.headIcons {
    margin-left: 10px
}

.headIcons i {
    margin: 0 2px;
    color: #fff0;
    -webkit-text-stroke: 2px #33302b;
    cursor: pointer;
    transition: 0.3s
}

.headIcons i:hover {
    color: #bcddd9
}

.headTitle {
    text-align: center;
    font-weight: 500;
    margin-left: 20px;
    color: #33302b
}

.plusAbout {
    width: 100%;
    height: 100%;
    left: 0% !important;
    top: 0% !important
}

.aboutContet {
    position: relative;
    display: flex;
    height: 90%
}

.aboutfilles {
    padding: 2px;
    height: 100%;
    border-right: 2px solid #33302b
}

.wrapper {
    width: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s
}

.wrapper:hover {
    transform: scale(1.1)
}

.wrapper img {
    width: 100%
}

.aboutcontainer {
    width: 100%;
    height: 100%;
    background-color: #bcddd9;
    overflow-x: scroll
}

.aboutText {
    padding: 0 20px
}

.aboutText h1 {
    font-size: 3rem;
    color: #33302b
}

.aboutText p {
    width: 90%
}

.resumeText {
    padding: 20px
}

.works {
    position: absolute;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(0);
    filter: drop-shadow(8px 8px 0 #33302b);
    display: none;
    overflow: hidden;
    transition: 0.3s
}

.displayWork {
    display: block;
    transform: scale(1);
    left: 18%;
    top: 10%
}

.plusWorks {
    width: 100%;
    height: 100%;
    left: 0% !important;
    top: 0% !important
}

.aboutContet {
    position: relative;
    display: flex;
    height: 90%
}

.worksContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    background-color: #bcddd9;
    padding: 5px 0
}

.wrappe {
    width: 50px;
    height: fit-content;
    padding: 2px;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s
}

.wrappe:hover {
    transform: scale(1.1)
}

.wrappe img {
    width: 100%
}

.DeskWorks {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap
}

.workApp {
    position: absolute;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(1);
    filter: drop-shadow(8px 8px 0 #33302b);
    display: block;
    z-index: 50;
    overflow: hidden;
    transition: 0.3s;
    display: block;
    transform: scale(1);
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll
}

.plusWorksApp {
    width: 100%;
    height: 100%;
    left: 0% !important;
    top: 0% !important
}

.minusWorksApp {
    transform: scale(0);
    display: none
}

.imageContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 20px
}

.imageDiv {
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center
}

.imageDiv img {
    width: 150px;
    height: 100px;
    transition: 0.3s;
    cursor: pointer
}

.imageContainer img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgb(0 0 0 / .37))
}

.ReadMe {
    width: 50px
}

.SelectedImage {
    position: absolute;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(1);
    filter: drop-shadow(8px 8px 0 #33302b);
    display: block;
    z-index: 54;
    overflow: hidden;
    transition: 0.3s;
    display: none;
    transform: scale(1);
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll
}

.SelectedImage img {
    width: 100%
}

.SelectedImage p {
    padding: 20px
}

.plusclickedImage {
    width: 100%;
    height: 100%;
    left: 50%;
    display: block
}

.closeclickedImage {
    display: none
}

.Skills {
    position: absolute;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(1);
    filter: drop-shadow(8px 8px 0 #33302b);
    display: none;
    z-index: 54;
    overflow: hidden;
    transition: 0.3s
}

.displaySkills {
    display: block;
    transform: scale(1);
    left: 25%;
    top: 10%
}

.plusSkillsapp {
    width: 100%;
    height: 100%;
    left: 0% !important;
    top: 0% !important;
    display: block
}

.minusSkillsApp {
    transform: scale(0);
    display: none
}

.skillsContainre {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    background-color: #bcddd9;
    padding: 20px
}

.skillsContainre .wrapp {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 2px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s
}

.wrapp:hover {
    transform: scale(1.1)
}

.wrapp img {
    width: 100%
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.loading video {
    position: absolute;
    width: 400px;
    filter: invert(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgb(255 255 255 / .5);
    box-sizing: border-box;
    animation: animFw 4s linear infinite
}

.loader::after,
.loader::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0);
    box-sizing: border-box;
    animation: coli1 0.1s linear infinite
}

.loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.1s linear infinite
}

@keyframes animFw {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0);
        opacity: .7
    }
    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0);
        opacity: 1
    }
    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: .7
    }
}

.Contact {
    position: absolute;
    width: 60%;
    height: 80%;
    background-color: #efe9dc;
    border: 2px solid #33302b;
    border-radius: 10px;
    transform: scale(1);
    filter: drop-shadow(8px 8px 0 #33302b);
    display: none;
    z-index: 54;
    overflow: hidden;
    transition: 0.3s
}

.displayContact {
    display: block;
    transform: scale(1);
    left: 22%;
    top: 10%
}

.plusContact {
    width: 100%;
    height: 100%;
    left: 0% !important;
    top: 0% !important;
    display: block
}

.contactForm {
    width: 100%
}

.minusContactHide {
    display: none
}

.contactForm form {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.contactForm form input,
textarea {
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #33302b;
    background-color: #fff0;
    color: #33302b;
    resize: none
}

.contactForm form input:focus,
textarea:focus {
    border: none;
    border-bottom: 2px solid #33302b;
    outline: none
}

.contactForm form button {
    padding: 10px;
    cursor: pointer;
    background-color: #33302b;
    color: #eee7df;
    border: 2px solid #33302b;
    margin-top: 5px;
    transition: 0.3s
}

.contactForm form button:hover {
    background-color: #fff0;
    color: #33302b
}

.changeIndex {
    z-index: 100
}

@media (max-width:50.4375em) {
    .content .background {
        width: fit-content
    }
}

@media (max-width:23.4375em) {
    .content .background {
        width: fit-content
    }
}